body {
  font-size: 20px;
  font-family: "Cousine", monospace;
  background-color: rgba(213, 155, 246, 0.1);
}

h1 {
  font-size: 40px;
}

footer {
  padding-top: 15px;
  text-align: right;
  font-size: 15px;
}

.container {
  margin: auto;
  padding: 0;
  max-width: 900px;
}

.app {
  border: rgba(183, 103, 224, 0.5) solid 2px;
  margin-top: 60px;
  background-color: rgba(183, 103, 224, 0.5);
}

.currentWeather {
  border: #bb5dea solid 2px;
  margin-bottom: 40px;
  position: relative;
  width: 90%;
}

.cityName {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.todayEmoji {
  width: 150px;
  position: absolute;
  top: -33px;
  left: 50px;
}

.tempPerceived {
  font-size: 20px;
}

.forecast {
  font-size: 30px;
  text-transform: capitalize;
}

.btn.btn-primary {
  background-color: #bb5dea;
  color: white;
  border-color: #bb5dea;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.btn.btn-primary:hover {
  background-color: #f047ff;
  border-color: #f047ff;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn.btn-primary:focus {
  outline-color: #f047ff;
  outline-width: 2px;
}

.lastUpdated {
  font-size: 15px;
}

.days {
  text-decoration: underline;
}

.prediction {
  border: rgba(194, 71, 255, 1) solid 1px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  background-color: #bb5dea;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.prediction:hover {
  background-color: #f047ff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  cursor: pointer;
}

.weatherEmoji {
  font-size: 50px;
}

.highTemp {
  font-size: 50px;
  color: black;
}

.lowerTemp {
  font-size: 30px;
  color: white;
}

.celsius,
.fahrenheit,
.divider {
  font-size: 20px;
  position: relative;
  top: -20px;
}

.celsius,
.fahrenheit {
  text-decoration: none;
  color: #bb5dea;
}

.celsius:hover,
.fahrenheit:hover {
  cursor: pointer;
  color: #f047ff;
  text-shadow: 5px 5px 10px rgba(152, 150, 241, 0.4);
}

.gitHubLink {
  text-decoration: none;
  color: #bb5dea;
}

.gitHubLink:hover {
  color: #f047ff;
}
